{% extends 'base.html' %}
{% block content %}

<!--******** PAGE HEADER ********-->
<div class="container">
<h3 class="page-head">Edit Category</h3>

<h5>Meals and Courses</h5>

<!--******** EDIT MEALS & COURSES CATEGORY FORM ********-->
<div class="row">
	<form action="{{ url_for('update_meal', meal_id=meal._id) }}" method="POST" class="col s12">

		<div class="row edit-cat-row">
			<div class="input-field col s12">
				<i class="material-icons prefix">restaurant</i>
				<input id="meal_course_type" name="meal_course_type" type="text" class="validate" value="{{meal.meal_course_type.title()}}">
				<label for="meal_name">Category Name</label>
			</div>
		</div>

		<div class="row">
			<button class="btn waves-effect waves-light right" type="submit" name="action">Save Changes
                    <i class="material-icons right">playlist_add_check</i>
            </button>
		</div>
		<div class="row">
			<a href="{{ url_for('get_categories') }}"
				class="btn waves-effect waves-light right">Cancel<i class="material-icons right">cancel</i></a>
		</div>

	</form>
</div>
</div>

{% endblock %}