{% extends 'base.html' %}
{% block content %}

<div class="container">
<h3 class="page-head">Edit Category</h3>

<h5>Cuisines</h5>

<div class="row">
	<form action="{{ url_for('update_cuisine', cuis_id=cuis._id) }}" method="POST" class="col s12">

		<div class="row edit-cat-row">
			<div class="input-field col s12">
				<i class="material-icons prefix">fastfood</i>
				<input id="cuisine" name="cuisine" type="text" class="validate" value="{{cuis.cuisine}}">
				<label for="icon_prefix">Category Name</label>
			</div>
		</div>

		<div class="row">
			<button class="btn waves-effect waves-light right" type="submit" name="action">Save Changes
                        <i class="material-icons right">playlist_add_check</i>
            </button>
		</div>
		<div class="row">
			<a href="{{ url_for('get_categories') }}"
				class="btn waves-effect waves-light right">Cancel<i class="material-icons right">cancel</i></a>
		</div>

	</form>
</div>
</div>

{% endblock %}