{% extends 'base.html' %}
{% block content %}

<!--******** PAGE HEADER ********-->
<div class="container">
<h3 class="page-head">{{recipe.recipe_name.title()}}</h3>

<!--******** RECIPE IMAGE ********-->
<div class="row">
	<div class="col s12 m4 l3">
        <img class="responsive-img" src="{{recipe.add_photo}}" height="100%">
    </div>

<!--******** RECIPES DETAILS ********-->
	<div class="col s12 m8 l9">
		<p class="recipe_description">{{recipe.recipe_description}}</p>

		<div class="row">
                <div class="col s6 m6 l3">
                        <i class="material-icons prefix">restaurant</i><span class="info-col">{{meal_course_type.title()}}</span>
                </div>
                <div class="col s6 m6 l3">
                        <i class="material-icons prefix">fastfood</i><span class="info-col">{{cuisine.title()}}</span>
                </div>
                <div class="col s6 m6 l3">
                        <i class="material-icons prefix">people_outline</i><span class="info-col"> Serves {{recipe.serves}}</span>
                </div>
                <div class="col s6 m6 l3">
                        <i class="material-icons prefix">access_time</i><span class="info-col">{{recipe.time}}</span>
                </div>
		</div>
        <div class="row">
            {% if recipe.is_vegetarian %}
                <span class="suit-col">Vegetarian</span>
            {% else %}

            {% endif%}

            {% if recipe.is_vegan %}
                <span class="suit-col">Vegan</span>
            {% else %}

            {% endif%}
        
            {% if recipe.is_glutenFree %}
                <span class="suit-col">Gluten Free</span>
            {% else %}

            {% endif%}
        
            {% if recipe.is_dairyFree %}
                <span class="suit-col">Dairy Free</span>
            {% else %}

            {% endif%}
		</div>
	</div>
</div>
<div class="row">
    <div class="col s12 m4 l3">
		<h5 class="ingredients">Ingredients</h5>
        {% for ingredient in recipe.add_ingredients.splitlines() %}
            <ul>
                <li>{{ingredient}}</li>
            </ul>
        {% endfor %}
    </div>
	<div class="col s12 m8 l9">
		<h5 class="method">Method</h5>
       {% for step in recipe.method.splitlines() %}
        <ul>
            <li>{{step}}</li>
        </ul>
    {% endfor %}

	</div>
</div>

<!--******** BUTTONS ********-->
<div class="row">
    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light right btn btn-del">Delete<i class="material-icons right">delete</i></a>
    <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light right btn">Edit<i class="material-icons right">create</i></a>
</div>
<div class="row">
    <button class="waves-effect waves-light right btn " onclick="history.back(-1)">Return<i class="material-icons right">keyboard_return</i></button>
</div>
</div>
{% endblock %}