{% extends 'base.html' %}
{% block content %}


<div class="row">
	<div class="col s12 m4 l3">
		<img src="{{recipe.image_url}}">
    </div>
	<div class="col s12 m8 l9">
		<div class="row">
			<div class="heading">
					<h3 class="recipe_name">{{recipe.recipe_name}}</h3>
					<h6 class="recipe_description">{{recipe.recipe_description}}</h6>
			</div>
		</div>
		<div class="row">
                <div class="col s6 m3">
                        <i class="material-icons prefix">restaurant</i><span>{{recipe.meal_course_type}}</span>
                </div>
                <div class="col s6 m3">
                        <i class="material-icons prefix">fastfood</i><span>{{recipe.cuisine}}</span>
                </div>
                <div class="col s6 m3">
                        <i class="material-icons prefix">people_outline</i><span> Serves {{recipe.serves}}</span>
                </div>
                <div class="col s6 m3">
                        <i class="material-icons prefix">access_time</i><span>{{recipe.time}}</span>
                </div>
		</div>
        <div class="row">
                <div class="col s6 m3">
                    {% if recipe.is_vegetarian %}
                        <span>Vegetarian</span>
                    {% else %}

                    {% endif%}
                </div>
                <div class="col s6 m3">
                    {% if recipe.is_vegan %}
                        <span>Vegan</span>
                    {% else %}

                    {% endif%}
                </div>
                <div class="col s6 m3">
                    {% if recipe.is_glutenFree %}
                        <span>Gluten Free</span>
                    {% else %}

                    {% endif%}
                </div>
                <div class="col s6 m3">
                    {% if recipe.is_dairyFree %}
                        <span>Dairy Free</span>
                    {% else %}

                    {% endif%}
                </div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col s12 m4 l3">
		<h5 class="ingredients">Ingredients</h5>
        {{recipe.add_ingredients}}
    </div>
	<div class="col s12 m8 l9">
		<h5 class="method">Method</h5>
        {{recipe.method}}
	</div>
</div>

{% endblock %}